body {
  background-color: rgb(82, 6, 6);
  display: grid;
  grid-template-columns: 350px;
  justify-content: center;
}

h1 {
  color: white;
}

.box {
  background-color: brown;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  border: 2px solid white;
  padding: 0 0 20px 0;
}