.fon {
  position: absolute;
  height: 740px;
  width: 1000px;
  background-image: url("../assets/images/JARVIS.png");
  background-size: 100%;
  z-index: 200;
}

#chat {
  position: absolute;
  height: 300px;
  width: 800px;
  background-color: #0861dd33;
  z-index: 1;
  border-radius: 20px;
  top: 280px;
  margin-left: 90px;
  color: #0c4aa0;
  font-family: 'Grandstander', cursive;
}

#messages {
  position: relative;
  background-color: #c7dfff;
  border-radius:  20px 20px 10px 10px;
  width: 750px;
  height: 220px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 5px 0;
  left: 30px;
  top: 20px;
  border: 2px solid #275eac;
}

.input-box {
  position: relative;
  height: 30px;
  width: 750px;
  top: 25px;
  left: 30px;
  display: grid;
  grid-template-columns: 90% auto;
  grid-gap: 10px;
}

input {
  color: #042b63;
  outline-color: #0c4aa0;
  font-family: 'Grandstander', cursive;
}

button:hover,
button:focus {
  background-color: #1f6fe0;
}

span {
  padding: 2px 10px 2px 15px;
  text-shadow: 1px 1px 3px #275eac;
  background-color: #c7dfff;
}

.jarvis-message {
  text-align: end;
  background-color: #a0bbdf;
}