.search {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.search>input {
  border-radius: 5px;
  color: green;
  flex-grow: 1;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.search>button {
  color: green;
  height: 2em;
  font-size: 18px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.search>button:hover,
.search>input:hover {
  color: red;
}