 .all {
    display: grid;
    grid-gap: 70px 0;
    padding: 50px;
    justify-items: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.alias {
    font-size: 12px;
    color: white;
    font-weight: 600;
}

.name {
    font-size: 9px;
    color: rgba(255, 255, 255, 0.5);
}

img {
    height: 162px;
    margin-top: -22px;
    margin-left: 10px;
}

.all > div:nth-child(4) img {
    margin-top: 0;
}

.name-pos {
    text-align: right;
    margin: 10px;
}

.widow {
    background: linear-gradient(90deg, #000, #61045F);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 140px;
    width: 270px;
}

.captain {
    background: linear-gradient(#4568DC , #B06AB3);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 140px;
    width: 270px;
}

.iron-man {
    background: linear-gradient(#e52d27, #b31217);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 140px;
    width: 270px;
}

.spider-man {
    background: linear-gradient(#e52d27, #000);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 140px;
    width: 270px;
}

@media screen and (min-width: 1080px) {
    .all {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 700px) and (max-width: 1080px) {
    .all {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 560px) {
    .all {
        grid-template-columns: 1fr;
    }
}