.match {
  transform: scale(0.9, 1);
}

.stick {
  background: linear-gradient(90deg, rgb(137,67,37), rgb(232,166,107));
  border: 1px solid rgb(92, 44, 1);
  position: relative;
  height: 250px;
  margin: 0 auto;
  top: 100px;
  width: 20px;
}

.top {
  background: linear-gradient(180deg, white 5%, rgba(182,138,99,1) 33%, rgba(108,59,28,1) 60%, rgba(71,39,19,1) 100%);
  border-radius: 50px/66px;
  box-shadow: 0 -15px 15px 2px white;
  height: 66px;
  margin: 0 auto;
  position: relative;
  top: 120px;
  width: 50px;
  z-index: 2;
}

.fire {
  background: linear-gradient(-45deg, rgba(245,205,125,1) 0%, rgba(235,58,40,1) 100%);
  border-radius: 0px 50% 50% 50%;
  box-shadow: 0 0 15px 2px #F1784C;
  height: 150px;
  margin: 0 auto;
  transform: rotate(45deg);
  top: 180px;
  position: relative;
  width: 150px;
  z-index: 1;
}