* {
  font-family: 'Quicksand', sans-serif;
}

body {
  align-items: center;
  background: #444;
  display: flex;
  flex-direction: column;
}

img {
  width: 150px;
  height: 150px;
}

h1 {
  background: #359388;
  color: #fff;
  font-size: 22px;
  text-align: center;
  padding: 5px;
  width: 100%;
}

label {
  color: #fff;
  font-size: 14px;
}

input {
  border: 0;
  border-bottom: 3px solid #fff;
  background: transparent;
  color: #359388;
  font-size: 22px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 20px;
  outline: none;
}

button {
  border: 0;
  border-radius: 10px;
  padding: 10px 8px;
  outline: none;
}

button:hover,
button:focus {
  background: #359388;
  color: #fff;
}