* {
  font-family: "Kumbh Sans", sans-serif;
}
#weather-box {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-gap: 20px;
  justify-content: center;
}

h2 {
  text-align: center;
}

#weather-box > div {
  border: 2px solid black;
  padding: 5px;
}

#weather-box > div:hover {
  box-shadow: 0px 0px 1em black;
}

.date {
  text-align: center;
  padding: 10px;
  font-size: 15px;
}

.temperature {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

#weather-box > div:hover:after {
  content: attr(data-tooltip);
  background-color: rgba(175, 175, 175, 0.849);
  border: 1px solid black;
  padding: 15px;
  position: absolute;
  margin: 20px;
  top: 370px;
  left: 45% ;
  width: 150px;
  text-align: center;
  box-shadow: 0px 0px 1em black;
  border-radius: 15px;
}
