* {
  background-color: rgb(227,232,226);
  box-sizing: border-box;
}

.background {
  border-radius: 25px;
  width: 1010px;
  height: 1000px;
  margin: 0;
  background-image: url(../assets/images/ford-ferrari.jpg);
}

h1 {
  border-radius: 25px;
  text-align: center;
  background-color: rgb(185,48,52);
}

.mainmenu {
  margin: 0;
  padding: 0;
}


.mainmenu {
  list-style: none;
}
+