* {
  transition: all 1s ease;
}

.hand {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-bottom: 50px;
  width: 20%;
  padding-left: 50px;
}

.man {
  width: 75%;
}

.hand:hover ~ table tr:nth-child(2n + 1) td:nth-child(2n + 1),
.hand:hover ~ table tr:nth-child(2n) td:nth-child(2n) {
  opacity: 0;
}