.all-table {
  width: 100%;
  background: linear-gradient(140deg, #6e0000, antiquewhite);
  border: 4px solid black;
  border-collapse: collapse;
}

.header tr th {
  color: #ffe369;
  font-weight: bold;
  padding: 10px;
  border: 2px solid rgba(189, 195, 199, 0.05);
}

.red {
  background: #7F170D;
  border: 2px solid rgba(189, 195, 199, 0.05);
  color: white;
  padding: 5px 50px;
}

.light {
  background: #F8EBD9;
  border: 2px solid rgba(189, 195, 199, 0.05);
  color: midnightblue;
  padding: 5px 50px;
}

.table * {
  text-align: center;
}

.first {
  background: linear-gradient(90deg, #66110a, #7f372e);
  color: white;
  padding: 5px 50px;
}

.second {
  background: linear-gradient(90deg, #742821, #8b4b42);
  color: white;
  padding: 5px 50px;
}

.collapse-border {
  border: 0;
  border-collapse: collapse;
}

.superhero-url {
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

a {
  color: white;
}